<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.beans.factory" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.tomcat" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="co.uk.netpod" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>